img {
  width: 250px;
  height: fit-content;
}

h1 {
  color:rgb(150, 244, 107);
  font-style: italic;
}

/* p {
  color:rgb(150, 244, 107);
  font-style: italic;
} */

p {
  color:rgb(110, 249, 224); 
  font-weight: bold;
  font-size: x-large;
  font-style: oblique;
}

html {
  font-family: sans-serif;
  color:rgb(222, 225, 214)
}

div:first-of-type {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

label {
  margin-right: 15px;
  line-height: 32px;
}

input#order-size, input#ordername {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

img {
  opacity: 0.5;
}
body {
  background: url("https://imgs.search.brave.com/TpYy91V1Wswu2jPgpvqh889IsBPJKWzBzyQAOP1r2Zk/rs:fit:518:225:1/g:ce/aHR0cHM6Ly90c2Ux/LmV4cGxpY2l0LmJp/bmcubmV0L3RoP2lk/PU9JUC5XZlIxdk5G/RktfTm1zWjZ6Zy03/TnhRSGFHeCZwaWQ9/QXBp") no-repeat;/*https://imgs.search.brave.com/wGDGwqDGcCDajmymgINyDsN_QDgM6swPqC5MDbDgvuQ/rs:fit:617:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5l/YjlLY21LMjZ1eTlI/UHBzOFlDcHFnSGFG/cyZwaWQ9QXBp*/
  background-size: cover;
}

button,
legend {
  color: rgb(248, 246, 246);
  background-color: rgb(98, 88, 88);
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

button:hover,
button:focus {
  color: #999;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

#log {
 color: rgb(197, 245, 96);
 font-family: sans-serif;
}